<html>
<head>
  <title>Ava</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css"/>
  <link href="../plugins/calendar/monthly.css" rel="stylesheet" type="text/css"/>
  <link href="../plugins/calendar/calendar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenedor">
                 <div class="loader" id="loader">Loading...</div>
 </div>
  <div id="mainCalendar" class="monthly">
  			<div id="mycalendar"></div>
  		</div>
  <div id="sideb" class="float-right" class="mt-10">
    <input id="buscador" class="searchside" type="search">
  </div>
<div id="float-bar" class="float-bar">
  <ul class="float-right">
  <div id="calendar" class="barra">
  <img class="fa fa-calendar">
  </div>
  <div id="cron" class="barra">
    <img class="fa fa-cron">
  </div>
  <div id="mail" class="barra" onclick="">
    <img class="fa fa-mail">
  </div>
  <div id="map" class="barra" onclick="">
    <img class="fa fa-map">
  </div>
    <div id="message" class="barra">
    <img class="fa fa-chat">
  </div>
  <div id="task" class="barra">
    <img class="fa fa-task">
  </div>
  <div id="profile" class="barra">
    <img class="fa fa-profile">
  </div>
  <div id="close" class="barra" onclick="">
    <img class="fa fa-close">
</div>
</ul>
</div>
<script src="../js/bootstrap.js"></script>
<script src="../plugins/calendar/jquery.js"></script>
<script src="../plugins/calendar/monthly.js"></script>
</body>
</html>
